<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edit post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<ins th:insert="blocks/header :: header"></ins>

<body>

<div class="container mt-5 mb-5">
    <h1>Edit post</h1>
    <div th:each="pos : ${post}">
        <form method="post">
            <input type="text" th:value="${pos.title}" name="title" placeholder="Add post name" class="form-control"><br>
            <input type="text" th:value="${pos.anons}" name="anons" placeholder="Add anons" class="form-control"><br>
            <textarea name="full_text" placeholder="Add text" class="form-control" th:text="${pos.full_text}" /> <br>

            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>
</div>

<ins th:insert="blocks/footer :: footer"></ins>

</body>
</html>
